@import "../Variables.scss";
.left-bar {
  background-color: $grayColor;
  width: 15vw;
  .left-menus {
    display: flex;
    flex-direction: column;
  }
  .left-menu {
    border-bottom: 1px solid $grayBorderColor;
    height: 56px;
    color: $grayFontColor;
    display: flex;
    align-items: center;
    h5 {
      padding: 22px 0px 22px 30px;
    }
    img {
      padding: 22px 0px 22px 15px;
    }
    &:hover {
      cursor: pointer;
      background-color: $grayHoverColor;
      color: #fff;
    }
  }
}

// .left-menu-eclass:hover .chosung-menu{
//   display: block;
// }

// .chosung-menu{
//   display: none;
//   position: absolute;
//   background-color: #1f568d;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
//   bottom : 28%;
  
// }

.chosung-menu div{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}

.chosung-menu div:hover{
  background-color: gray;
}
